.nav-header {
    display: inline-flex;
    align-items: center;
}

.nav-header .nav-link {
    color: #000;
    text-decoration: none;
    padding-left: 0;
}

.nav-header .nav-link span.nav-text {
    padding-left: 0 !important;
}

.nav-header .nav-link:hover {
    color: #FFAEFD
}

.nav {
    font-size: 1.7rem;
    background-color: aliceblue;
    padding: .75rem 1.5rem;
}

.nav-link {
    padding: .3rem;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.nav-link span.nav-text {
    display: block;
    padding: 0 1rem;
    font-size: 1.3rem !important;
}
  
.nav-footer .copyright {
    padding: .5rem 0;
    font-size: 11px;
    opacity: 0.6;
    text-align: center;
}

.nav-footer {
    margin-top: auto;
}

@media screen and (max-width: 767px) {
    .nav-link span.nav-text, .nav-header .nav-link span.nav-text{
        display: none;
    }
    .nav {
        padding: .75rem .5rem
    }
    .nav-link {
        justify-content: center;
    }
}